$bg-color: rgb(226, 226, 226);
$dot-color: rgb(192, 189, 199);

$dot-size: 3px;
$dot-space: 22px;

body {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
  background-size: $dot-space $dot-space;
  padding: 20px 40px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.single-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 300px;
}

.span__settings {
  font-weight: 600;
}

.flag {
  width: 400px;
  margin-left: 100px;
}
